<div class="box box-primary">
    <div class="box-body">
        <form [formGroup]="searchForm">
            <div id="user-data">
                <div class="form-group">
                    <label for="website">Website</label>
                    <input type="text" id="website" formControlName="website" class="form-control">
                    <span 
                        *ngIf="searchForm.get('website').errors && searchForm.get('website').errors.required && searchForm.get('website').touched"
                        class="help-block">
                        Website url is required!
                    </span>
                    <span 
                        *ngIf="searchForm.get('website').errors && searchForm.get('website').errors.website && searchForm.get('website').touched"
                        class="help-block">
                        Please enter a valid Website url!
                    </span>
                </div>
            </div>
            <!--BUTTONS-->
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-ls-4 padding-bottom-5">
                    <button class="btn btn-primary col-xs-12 col-sm-12 col-md-12 col-lg-12" 
                        type="button" 
                        id="locateWebsite"
                        [disabled]="searchForm.get('website').invalid" 
                        (click)="getWebsiteLocation(searchForm.get('website').value)">Locate website</button>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-ls-4 padding-bottom-5">
                    <button class="btn btn-primary col-xs-12 col-sm-12 col-md-12 col-lg-12" 
                        type="button" 
                        id="getMyLocation"
                        (click)="getMyLocation()">Get my location</button>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-ls-4 padding-bottom-5">
                    <button class="btn btn-primary col-xs-12 col-sm-12 col-md-12 col-lg-12" 
                        type="button" 
                        id="removeMyLocation"
                        (click)="removeMyLocation()">Reset my location</button>
                </div>
            </div>
        </form>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->