<agm-map id="map"
  [latitude]="latitude"
  [longitude]="longitude"
  [zoomControl]="true"
  [zoom]="zoom"
  [disableDefaultUI]="true"
  [streetViewControl]="false"
  [fitBounds]="latlngBounds">
    <agm-marker 
      *ngFor="let m of markers; let i = index"
      [id]="'marker' + i"
      [label]="m.label"
      [latitude]="m.latitude" 
      [longitude]="m.longitude">
      <agm-info-window #infoWindow>
        <div><span [id]="'infolabel' + i">{{m.label}}</span></div>
        <div><span [id]="'infoip' + i">ip: {{m.ip}}</span></div>
	    </agm-info-window>
    </agm-marker>
</agm-map>